body{
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

.nav-bar  a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: 300;
}

.nav-bar{
    display: flex;
    color: antiquewhite;
    margin-top:0;
    /* background-color: rgb(4, 138, 138); */
    background-color: #24292e;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-bar > li {
    list-style: none;
    padding: 25px;
}

.signout {
    /* justify-content: flex-end; */
    justify-content: flex-end;
    /* align-self: flex-end; */
    /* padding-left: 55%; */
}

main{
    display: flex;
    padding-bottom: 20px;
}

/* Forms using flexbox */
.main-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-end;
    margin: auto;
}


label{
    padding-top: 10px;
    padding-bottom: 10px;
}

input{
    size: 30px;
    padding: 20px;
    background-color: rgb(255,255,255);
    background-size: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(203,219,219);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(203,219,219);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(203,219,219);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(203,219,219);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


/* Buttons for the website */
.btn{
    margin: 20px;
    margin-left:0; 
    width: 42%;
    color: white;
    padding: 18px;
    background: rgb(12, 100, 26);
    border: #000;
}

.btn:hover{
    background: #000;
    outline-color: beige;
}